.container1 {
  margin-bottom: 20px;
}

.offer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 0px;
}

.left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.left .componenet-title {
  font-size: 28px;
  font-weight: 600;
}

#countdown {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5px;
  font-size: 16px;
}

#countdown .couterdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.right {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.grid-container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.grid-container .card img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  border-radius: 8px;
}

.grid-container .card h3 {
  width: 100%;
  font-size: clamp(10px, 5vw, 12px);
  margin: 10px 0;
}

@media screen and (max-width: 1296px) {
  .offer-row {
    flex-wrap: wrap;
  }
  .left,
  .right {
    width: 100%;
  }

  .grid-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .offer-row {
    flex-wrap: wrap;
  }
  .grid-container .card {
    width: 100%;
  }
}
