.home-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px 0px;
}

.home-row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
